.header {
    height: 50px;
    font-size: 1.5em;
}

.profile-image {
    width: 40px;
    height: 40px;
}

.reset-btn {
    height: 50px;
}

.howto-body {
    overflow-y: auto;
}

li {
    padding: 5px;
}