.phase {
    font-size: 2em;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.stretch {
    height: calc(100% - 110px);
}

.no-wrap {
    margin: 0 !important;
    padding: 0 !important;
}

.flexwidth-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
}
.flexwidth-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
}
.flexwidth-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

.growlimit {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

.banpickbox-height {
    height: calc(100% - 50px);
}

.banpickbox-width {
    width: 50%;
}