.phase {
    font-size: 2em;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.stretch {
    height: calc(100% - 90px);
}

.no-wrap {
    margin: 0 !important;
    padding: 0 !important;
}

.flexwidth-1 {
    flex-basis: 20%;
}
.flexwidth-2 {
    flex-basis: 50%;
}
.flexwidth-3 {
    flex-basis: 30%;
}