.teamlist {
    height: calc(50% - 35px);
}

.btn-members {
    background-color: transparent !important;
    color: black !important;
    padding: 0px !important;
    border: none !important;
}

.teamlist-body {
    overflow-y: auto;
}