/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

.config-btn {
  height: 40px;
}

.config-btn-small {
  width: 33%;
}

.config-btn-normal {
  width: 50%;
}

.config-btn-big {
  width: 100%;
}

.config-btn-wrap {
  height: 120px;
}

.selector-wrap{ 
  height: 70px;
}