.banpicklist {
    height: 100%;
}

.banpick-content {
    font-size: 1.75em;
    word-wrap: break-word;
    word-break: break-all;
}

.wordwrap {
    word-wrap: break-word;
    word-break: break-all;
}

.banpick-box {
    word-wrap: break-word;
    word-break: break-all;
}

.banpicklist-body {
    overflow-y: auto;
}

.banpick-btn {
    font-size: 90%;
}

.banpick-btngroup {
    width: 100%;
}